button.mbuttoncls {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0
}

a.mbuttoncls,
button.mbuttoncls {
  min-width: max-content;
  font-size: .95rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  transition: transform .4s var(--bezier-one), filter .4s var(--bezier-one);
  user-select: none
}

.button-filled.mbuttoncls {
  background-color: var(--accent-color);
  color: var(--grey-four)
}

.button-tonal.mbuttoncls {
  background-color: var(--grey-two)
}

.button-filled.mbuttoncls,
.button-tonal.mbuttoncls {
  padding: 16px 24px
}

.button-text.mbuttoncls {
  background-color: transparent;
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: .01rem
}

button.mbuttoncls:hover,
a.mbuttoncls:hover {
  filter: brightness(85%)
}

img.mbuttoncls {
  height: 20px
}